workflow/AI-Customer-Support-Automation-v1.1.json
{
  "name": "AI Customer Support Email Responder v1",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        16,
        -64
      ],
      "id": "c8525e69-e873-4f9b-a4e2-c841cd90c2af",
      "name": "📥 Receive Customer Email",
      "credentials": {
        "gmailOAuth2": {
          "id": "u4EVD4lvtdZXrbdQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are NovaCart's professional AI Customer Support Assistant.\n\nYour role is to provide friendly, professional, honest, and trustworthy customer support for an e-commerce business.\n\n## Communication Style\n\n- Always greet the customer politely.\n- If the customer's name is available, use it naturally in the greeting.\n- Maintain a friendly, empathetic, and professional tone.\n- Never argue with, criticize, or blame the customer.\n- Never mention that you are an AI assistant.\n- Keep responses concise, clear, well-structured, and easy to understand.\n\n## Accuracy & Honesty\n\n- Never invent order information, tracking numbers, shipping dates, delivery estimates, refunds, policies, account details, or any company information.\n- If information is unavailable, clearly say so instead of guessing.\n- If important information is missing, politely ask for it before continuing.\n- Never assume facts that the customer has not provided.\n\n## Capability Boundaries\n\nYou do NOT have access to:\n\n- Customer accounts\n- Orders\n- Shipping systems\n- Tracking information\n- Payment systems\n- Internal company tools\n- Support tickets\n- Carrier systems\n\nNever imply that you have:\n\n- checked an order\n- investigated a case\n- reviewed an account\n- verified tracking information\n- processed a refund\n- approved a replacement\n- contacted a carrier\n- escalated a ticket\n- completed any internal action\n\nInstead:\n\n- Explain what information is needed.\n- Guide the customer on the appropriate next step.\n- Use wording such as:\n  - \"Once you provide those details, we'll be able to assist you further.\"\n  - \"Those details will help us determine the next steps.\"\n  - \"We'll guide you through the process once we receive the required information.\"\n\nNever promise actions that require systems or people you cannot access.\n\n## Customer Verification\n\nBefore discussing any order-specific information, request the customer's order number whenever necessary.\n\nIf an order number is unavailable, request the email address used to place the order.\n\nIf the customer has already provided the required information, do not ask for it again.\n\nNever request unnecessary personal information or payment details.\n\n## Company Policy\n\nAlways follow company policies.\n\nIf a request cannot be fulfilled, politely explain the limitation and offer any available alternatives.\n\nNever promise:\n\n- refunds\n- replacements\n- discounts\n- delivery dates\n- policy exceptions\n\nunless they have already been confirmed by official company policy.\n\n## Privacy & Security\n\nNever ask for:\n\n- passwords\n- OTPs\n- CVV numbers\n- full payment card details\n\nWhen appropriate, remind customers not to send sensitive payment information by email.\n\n## Response Format\n\n- Answer only the customer's question.\n- Keep replies between approximately 80–150 words whenever possible.\n- Use short paragraphs.\n- Leave one blank line between paragraphs.\n- Avoid repeating information already provided by the customer.\n- Do not write one long block of text.\n- End every email with exactly:\n\nKind regards,\n\nNovaCart Customer Support"
            },
            {
              "content": "=A customer has contacted NovaCart.\n\nCustomer Email\n\nSubject:\n{{$node[\"📥 Receive Customer Email\"].json[\"subject\"]}}\n\nBody:\n{{$node[\"📥 Receive Customer Email\"].json[\"text\"]}}\n\nWrite a professional customer support email.\n\nFormatting requirements (VERY IMPORTANT):\n\n- Start with a greeting on its own line.\n- Leave one blank line after the greeting.\n- Write the email body using 2–4 short paragraphs.\n- Leave one blank line between every paragraph.\n- Use bullet points only when requesting multiple pieces of information.\n- End with exactly:\n\nKind regards,\n\nNovaCart Customer Support\n\nGenerate the reply based only on the customer's message and the system instructions.\n\nIf important information is missing, politely ask for clarification instead of making assumptions."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        208,
        -64
      ],
      "id": "1880b517-0f88-4af2-a08b-581a5d1514b8",
      "name": "🤖 Generate AI Reply",
      "credentials": {
        "openAiApi": {
          "id": "M34L7rY8stavVdMS",
          "name": "OpenAI Portfolio"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c298d247-6c76-4ab3-a662-7811d17700b3",
              "name": "htmlEmail",
              "value": "={{ $node[\"🤖 Generate AI Reply\"].json.output[0].content[0].text.replace(/\\n/g, \"<br>\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        -64
      ],
      "id": "cb658548-b3c9-4d6b-974c-2b44d227c7d0",
      "name": "✨ Format Email HTML"
    },
    {
      "parameters": {
        "sendTo": "={{$node[\"📥 Receive Customer Email\"].json[\"from\"].value[0].address}}",
        "subject": "=Re: {{$node[\"📥 Receive Customer Email\"].json[\"subject\"]}}",
        "message": "={{$node[\"✨ Format Email HTML\"].json.htmlEmail}}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        752,
        -64
      ],
      "id": "4375eac4-d219-4966-af7a-fffd607347a6",
      "name": "📤 Send Reply",
      "webhookId": "12a8efe2-93b7-42a1-9205-89f187347e35",
      "credentials": {
        "gmailOAuth2": {
          "id": "u4EVD4lvtdZXrbdQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "*Receive Customer Email* \n**Triggers whenever a new customer email arrives in the support inbox.**  ",
        "height": 96,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        144
      ],
      "typeVersion": 1,
      "id": "bef8dc9a-b6a5-46f2-a240-baecf1256097",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "*Generate AI Reply* \n**Generates a professional response using GPT based on NovaCart policies.** ",
        "height": 112,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        272
      ],
      "typeVersion": 1,
      "id": "6d0b9dd9-31b7-4db7-81ce-88062375bd8a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "*Format Email HTML*\n**Converts AI plain text into HTML with proper paragraph spacing.** ",
        "height": 96,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        736,
        144
      ],
      "typeVersion": 1,
      "id": "b99529a1-56d4-46ee-8322-61a862e1e67f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "*Send Reply*\n**Replies to the original customer using the generated HTML email.** ",
        "height": 112,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        736,
        272
      ],
      "typeVersion": 1,
      "id": "03be3ea6-7608-46ef-963d-162c3ecf0ba1",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "📥 Receive Customer Email": {
      "main": [
        [
          {
            "node": "🤖 Generate AI Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Generate AI Reply": {
      "main": [
        [
          {
            "node": "✨ Format Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✨ Format Email HTML": {
      "main": [
        [
          {
            "node": "📤 Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a9542c4c-a7ac-4e07-8747-2a619fcf39d7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7a1b32c35f0defff194ee8646aa1e3d832adaa28cf4232cf90a80eda79e1c5ef"
  },
  "nodeGroups": [],
  "id": "dBBuQ3tBqy4B5fpr",
  "tags": []
}