workflow/ai-customer-support-crm-v1.2.json
{
  "name": "AI Customer Support Automation",
  "nodes": [
    {
      "parameters": {
        "content": "*Receive Customer Email* \n**Triggers whenever a new customer email arrives in the support inbox.**  ",
        "height": 80,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        368
      ],
      "typeVersion": 1,
      "id": "bef8dc9a-b6a5-46f2-a240-baecf1256097",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "*Generate AI Reply* \n**Generates a professional response using GPT based on NovaCart policies.** ",
        "height": 112,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -784,
        288
      ],
      "typeVersion": 1,
      "id": "6d0b9dd9-31b7-4db7-81ce-88062375bd8a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "*Format Email HTML*\n**Converts AI plain text into HTML with proper paragraph spacing.** ",
        "height": 96,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        256
      ],
      "typeVersion": 1,
      "id": "b99529a1-56d4-46ee-8322-61a862e1e67f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "*Send Reply*\n**Replies to the original customer using the generated HTML email.** ",
        "height": 112,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        384
      ],
      "typeVersion": 1,
      "id": "03be3ea6-7608-46ef-963d-162c3ecf0ba1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -800,
        -80
      ],
      "id": "c8525e69-e873-4f9b-a4e2-c841cd90c2af",
      "name": " Receive Customer Email",
      "credentials": {
        "gmailOAuth2": {
          "id": "u4EVD4lvtdZXrbdQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c298d247-6c76-4ab3-a662-7811d17700b3",
              "name": "htmlEmail",
              "value": "={{ $json.output[0].content[0].text.replace(/\\n/g,\"<br>\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        -80
      ],
      "id": "cb658548-b3c9-4d6b-974c-2b44d227c7d0",
      "name": " Format Email HTML"
    },
    {
      "parameters": {
        "sendTo": "={{$node[\" Receive Customer Email\"].json[\"from\"].value[0].address}}",
        "subject": "=Re: {{$node[\" Receive Customer Email\"].json[\"subject\"]}}",
        "message": "={{$node[\" Format Email HTML\"].json.htmlEmail}}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        752,
        -80
      ],
      "id": "4375eac4-d219-4966-af7a-fffd607347a6",
      "name": " Send Reply",
      "webhookId": "12a8efe2-93b7-42a1-9205-89f187347e35",
      "credentials": {
        "gmailOAuth2": {
          "id": "u4EVD4lvtdZXrbdQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output[0].content[0].text }}",
                    "rightValue": "REFUND",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "aff64314-b1d5-4148-aa33-a1328b6373b8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Refund"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a83e1c88-a87d-4729-83e4-2757bb3bfb95",
                    "leftValue": "={{ $json.output[0].content[0].text }}",
                    "rightValue": "ORDER_STATUS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=Order Status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "422b0d89-e1f0-4e21-9163-9a9d2dc7e0a7",
                    "leftValue": "={{ $json.output[0].content[0].text }}",
                    "rightValue": "CANCELLATION",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancellation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f7fc5b4e-6086-4300-ab7c-476648eafeb5",
                    "leftValue": "={{ $json.output[0].content[0].text }}",
                    "rightValue": "DAMAGED_PRODUCT",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Damaged Output"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "464a674e-6315-497c-8285-eaf736defe38",
                    "leftValue": "={{ $json.output[0].content[0].text }}",
                    "rightValue": "WRONG_ITEM",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Wrong Item"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c096ebe2-0176-4ae3-aa53-7e4d85a46076",
                    "leftValue": "={{ $json.output[0].content[0].text }}",
                    "rightValue": "GENERAL_INQUIRY",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "General Inquiry"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -160,
        -160
      ],
      "id": "e2981e4e-fb3f-4d81-81de-1819835c355c",
      "name": "Route Customer Issue"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are NovaCart's Refund Support Specialist.\n\nYour task is to write a professional customer support email.\n\nRules:\n- Be polite and empathetic.\n- Never claim you checked an order.\n- Never invent refund eligibility.\n- Never promise a refund.\n- Ask only for the information needed.\n- Keep replies under 180 words.\n- Use short paragraphs.\n- End with:\n\nKind regards,\n\nNovaCart Customer Support"
            },
            {
              "content": "=Customer Email\n\nSubject:{{ $(' Receive Customer Email').item.json.subject }}\n\nBody:\n{{ $(' Receive Customer Email').item.json.text }}\n\nThe customer's issue has already been classified as REFUND.\n\nWrite an appropriate customer support reply following NovaCart policies."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        64,
        -560
      ],
      "id": "09af27e7-c222-4863-b844-3fec94b89f66",
      "name": "Generate Refund Reply",
      "credentials": {
        "openAiApi": {
          "id": "M34L7rY8stavVdMS",
          "name": "OpenAI Portfolio"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are NovaCart's Order Status Support Specialist.\n\nYour task is to write a professional customer support email.\n\nRules:\n- Be polite and empathetic.\n- Never claim you checked an order.\n- Never invent tracking information.\n- Never promise a delivery date.\n- Never say an order is shipped or delayed unless the customer provides official information.\n- Ask only for the information needed.\n- Keep replies under 180 words.\n- Use short paragraphs.\n- End with:\n\nKind regards,\n\nNovaCart Customer Support"
            },
            {
              "content": "=Customer Email\n\nSubject:{{ $(' Receive Customer Email').item.json.subject }}\n\n\nBody:{{ $(' Receive Customer Email').item.json.text }}\n\n\nThe customer's issue has already been classified as ORDER_STATUS.\n\nWrite an appropriate customer support reply following NovaCart policies."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        64,
        -368
      ],
      "id": "e67a8187-4473-4381-961e-a6f896537cd9",
      "name": "Generate Order Status Reply",
      "credentials": {
        "openAiApi": {
          "id": "M34L7rY8stavVdMS",
          "name": "OpenAI Portfolio"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are NovaCart's Order Cancellation Support Specialist.\n\nYour job is to write professional customer support emails.\n\nRules:\n\n- Be polite and empathetic.\n- Do not promise cancellation until it is verified.\n- Explain that cancellation depends on whether the order has already been shipped.\n- Ask for the order number if it is missing.\n- If needed, ask the customer to confirm they want to cancel the entire order.\n- Never invent order information.\n- Never mention AI.\n- Keep replies under 180 words.\n- End with:\n\nKind regards,\n\nNovaCart Customer Support"
            },
            {
              "content": "=Customer Email\n\nSubject:\n{{ $(' Receive Customer Email').item.json.subject }}\n\nBody:\n{{ $(' Receive Customer Email').item.json.text }}\n\n\nThe customer's issue has already been classified as CANCELLATION.\n\nWrite an appropriate customer support reply following NovaCart policies."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        64,
        -176
      ],
      "id": "3ff20790-ad4e-42a9-be74-8ab3ef138606",
      "name": "Generate Cancellation Reply",
      "credentials": {
        "openAiApi": {
          "id": "M34L7rY8stavVdMS",
          "name": "OpenAI Portfolio"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are NovaCart's Damaged Product Support Specialist.\n\nYour job is to write professional customer support emails.\n\nRules:\n\n- Be polite and empathetic.\n- Apologize that the customer received a damaged item.\n- Ask for the order number if missing.\n- Ask for clear photos of the damaged product.\n- Ask for photos of the packaging if available.\n- Do not promise a refund or replacement until the damage is verified.\n- Never invent order details.\n- Never mention AI.\n- Keep replies under 180 words.\n\nEnd with:\n\nKind regards,\n\nNovaCart Customer Support"
            },
            {
              "content": "=Customer Email\n\nSubject:{{ $(' Receive Customer Email').item.json.subject }}\n\nBody:{{ $(' Receive Customer Email').item.json.text }}\n\n\nThe customer's issue has already been classified as DAMAGED_PRODUCT.\n\nWrite an appropriate customer support reply following NovaCart policies."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        64,
        16
      ],
      "id": "a96434f4-04d1-4086-b1db-a25d9bc1f135",
      "name": "Generate Damaged Product Reply",
      "credentials": {
        "openAiApi": {
          "id": "M34L7rY8stavVdMS",
          "name": "OpenAI Portfolio"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are NovaCart's Wrong Item Support Specialist.\n\nYour job is to write professional customer support emails.\n\nRules:\n\n- Be polite and empathetic.\n- Apologize that the customer received the wrong item.\n- Ask for the order number if missing.\n- Ask for a clear photo of the item received.\n- Ask for a photo of the shipping label or packaging if available.\n- Explain that the order will be reviewed before arranging a replacement or return.\n- Never promise a replacement before verification.\n- Never invent order information.\n- Never mention AI.\n- Keep replies under 180 words.\n\nEnd with:\n\nKind regards,\n\nNovaCart Customer Support"
            },
            {
              "content": "=Customer Email\n\nSubject:\n{{ $(' Receive Customer Email').item.json.subject }}\n\nBody:\n{{ $(' Receive Customer Email').item.json.text }}\n\nThe customer's issue has already been classified as WRONG_ITEM.\n\nWrite an appropriate customer support reply following NovaCart policies."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        64,
        208
      ],
      "id": "7aa35bd8-c52a-48d7-8397-b8a303eb09f5",
      "name": "Generate Wrong Item Reply",
      "credentials": {
        "openAiApi": {
          "id": "M34L7rY8stavVdMS",
          "name": "OpenAI Portfolio"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are NovaCart's General Customer Support Specialist.\n\nYour job is to write professional customer support emails for general questions that do not belong to refunds, order status, cancellations, or damaged products.\n\nRules:\n\n- Be friendly, professional, and empathetic.\n- Answer only what the customer asked.\n- If additional information is needed, politely ask for it.\n- Never invent company policies, order information, pricing, delivery dates, or account details.\n- Never claim you have checked an order or account.\n- Never mention AI or automated systems.\n- If you cannot determine the answer from the customer's email, explain what information is needed to assist further.\n- Keep replies under 180 words.\n- Use short paragraphs.\n\nEnd every email with:\n\nKind regards,\n\nNovaCart Customer Support"
            },
            {
              "content": "=Customer Email\n\nSubject:\n{{ $(' Receive Customer Email').item.json.subject }}\n\nBody:\n{{ $(' Receive Customer Email').item.json.text }}\n\nThe customer's issue has already been classified as GENERAL_INQUIRY.\n\nWrite an appropriate customer support reply following NovaCart policies."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        64,
        400
      ],
      "id": "93dd1f25-d9d3-4acb-9392-ad6aa8f7185d",
      "name": "Generate Genral Inquiry Reply",
      "credentials": {
        "openAiApi": {
          "id": "M34L7rY8stavVdMS",
          "name": "OpenAI Portfolio"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/reubx03/AI-Customer-Support-Automation/contents/knowledge-base",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -736,
        832
      ],
      "id": "df4c7ee1-1d56-496b-afd2-c281b6f975a8",
      "name": "Load Knowledge Base"
    },
    {
      "parameters": {
        "url": "={{$json.download_url}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -512,
        832
      ],
      "id": "cb904da4-3bd9-48dd-936b-4889966b9ac2",
      "name": "Download Knowledge File"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -256,
        832
      ],
      "id": "437fc3e2-8209-40f4-8705-5dd07f493c8a",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -416,
        1312
      ],
      "id": "c475eb3f-229c-4fd5-93b0-e22d0260fb1c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "M34L7rY8stavVdMS",
          "name": "OpenAI Portfolio"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "id": "e5276a99-b2d3-4bb5-b6ad-00cdba684f95",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -128,
        1040
      ]
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "d141f3d0-56c4-4af1-860d-534bfa0331ad",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -96,
        1312
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.question }}",
        "options": {
          "systemMessage": "You are a helpful NovaCart customer support assistant. Use the knowledge base tool to answer questions accurately. Be polite and professional."
        }
      },
      "id": "e568fc79-ee5a-41f1-ac8e-e4ba3587a9e7",
      "name": "Answer Questions",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        272,
        832
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "43d95e6e-a8af-4bdb-89d0-5cf163f748b9",
      "name": "OpenAI Chat Model (Agent)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        192,
        1040
      ],
      "credentials": {
        "openAiApi": {
          "id": "M34L7rY8stavVdMS",
          "name": "OpenAI Portfolio"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "support_session"
      },
      "id": "907864a5-81f2-412b-8ffb-8975545639a5",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        320,
        1056
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "E-commerce customer support knowledge base including shipping, returns, refunds, cancellations, order tracking, payment issues, and company policies.",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "id": "d59bb01f-6871-4b55-849e-a2f08433f0bd",
      "name": "Vector Store QA Tool",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        448,
        1088
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11jr-gBHCSEfCAgXBhOsS7h7z-ak9RKdfzdkZb8kJA2M",
          "mode": "list",
          "cachedResultName": "AI Customer Support CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11jr-gBHCSEfCAgXBhOsS7h7z-ak9RKdfzdkZb8kJA2M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Customer_Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11jr-gBHCSEfCAgXBhOsS7h7z-ak9RKdfzdkZb8kJA2M/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toFormat('dd-MM-yyyy HH:mm:ss') }}",
            "Ticket ID": "={{ $('Generate Ticket ID').item.json.ticketId }}",
            "Customer Email": "={{ $(' Receive Customer Email').item.json.from.value[0].address }}",
            "Customer Name": "={{ $(' Receive Customer Email').item.json.from.value[0].name }}",
            "Subject": "={{ $(' Receive Customer Email').item.json.subject }}",
            "Status": "Open",
            "AI Reply": "={{ $(' Format Email HTML').item.json.htmlEmail }}",
            "Escalated": "No",
            "Assigned To": "AI Agent",
            "AI Confidence": "N/A",
            "Issue Category": "={{ $('AI Issue Classifier').item.json.output[0].content[0].text }}",
            "Priority": "Medium"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ticket ID",
              "displayName": "Ticket ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer Email",
              "displayName": "Customer Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Issue Category",
              "displayName": "Issue Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AI Confidence",
              "displayName": "AI Confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Reply",
              "displayName": "AI Reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Escalated",
              "displayName": "Escalated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Assigned To",
              "displayName": "Assigned To",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        784,
        -288
      ],
      "id": "4ba3755b-b72b-4546-9641-413569b80916",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xjchIaJ5MZTxShqm",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe6ec8cb-70ee-459b-880f-f6ed4ebd604f",
              "name": "ticketId",
              "value": "={{ \"TKT-\" + $now.toFormat(\"yyyyMMddHHmmss\") }}",
              "type": "string"
            },
            {
              "id": "74906b21-3c43-48ef-b435-fca83bae3d1f",
              "name": "assignedTo",
              "value": "={{\n({\n  REFUND: \"Refund Team\",\n  ORDER_STATUS: \"Logistics Team\",\n  CANCELLATION: \"Order Management Team\",\n  DAMAGED_PRODUCT: \"Returns Team\",\n  WRONG_ITEM: \"Returns Team\",\n  GENERAL_INQUIRY: \"Customer Support Team\"\n})[$json.issueCategory] || \"Customer Support Team\"\n}}",
              "type": "string"
            },
            {
              "id": "3f7fe41e-6014-4791-aa6b-3e905fe86479",
              "name": "issueCategory",
              "value": "={{ $('AI Issue Classifier').item.json.output[0].content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        -304
      ],
      "id": "9456a3fd-1da2-4290-a740-b595745e4682",
      "name": "Generate Ticket ID"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are an AI Issue Classification Engine for NovaCart.\n\nYour only task is to identify the PRIMARY customer support issue from the customer's email.\n\nDo NOT answer the customer.\n\nDo NOT explain your reasoning.\n\nDo NOT generate an email.\n\nReturn ONLY one of the following categories exactly as written:\n\nORDER_STATUS\nREFUND\nCANCELLATION\nDAMAGED_PRODUCT\nWRONG_ITEM\nGENERAL_INQUIRY\n\nClassification Rules\n\nORDER_STATUS\nCustomer is asking about:\n- Where is my order?\n- Package delayed\n- Shipment delayed\n- Delivery status\n- Tracking request\n- Late delivery\n- Missing package\n\nREFUND\nCustomer wants:\n- Refund\n- Return for money back\n- Money back\n- Cancel after delivery for refund\n\nCANCELLATION\nCustomer wants to:\n- Cancel an order\n- Stop shipment\n- Cancel before delivery\n\nDAMAGED_PRODUCT\nCustomer received:\n- Broken product\n- Defective product\n- Product not working\n- Damaged packaging\n- Missing parts\n\nWRONG_ITEM\nCustomer received:\n- Wrong product\n- Wrong size\n- Wrong color\n- Wrong quantity\n- Different item than ordered\n\nGENERAL_INQUIRY\nUse this if the email does not clearly belong to any category above.\n\nIf multiple issues are mentioned, classify based on the customer's MAIN request.\n\nOutput exactly one category."
            },
            {
              "content": "=Classify the customer's primary support issue.\n\nCustomer Email\n\nSubject:{{ $json.subject }}\n\nBody:{{ $json.text }}\n\n\nReturn only one category."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -512,
        -80
      ],
      "id": "ac755f10-6974-4380-b1b2-8e03f2481b89",
      "name": "AI Issue Classifier",
      "credentials": {
        "openAiApi": {
          "id": "M34L7rY8stavVdMS",
          "name": "OpenAI Portfolio"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    " Receive Customer Email": {
      "main": [
        [
          {
            "node": "AI Issue Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Format Email HTML": {
      "main": [
        [
          {
            "node": "Generate Ticket ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Customer Issue": {
      "main": [
        [
          {
            "node": "Generate Refund Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Order Status Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Cancellation Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Damaged Product Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Wrong Item Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Genral Inquiry Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Refund Reply": {
      "main": [
        [
          {
            "node": " Format Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Order Status Reply": {
      "main": [
        [
          {
            "node": " Format Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Cancellation Reply": {
      "main": [
        [
          {
            "node": " Format Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Damaged Product Reply": {
      "main": [
        [
          {
            "node": " Format Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Wrong Item Reply": {
      "main": [
        [
          {
            "node": " Format Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Genral Inquiry Reply": {
      "main": [
        [
          {
            "node": " Format Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Knowledge Base": {
      "main": [
        [
          {
            "node": "Download Knowledge File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Vector Store QA Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download Knowledge File": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "main": [
        [
          {
            "node": "Answer Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model (Agent)": {
      "ai_languageModel": [
        [
          {
            "node": "Answer Questions",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Answer Questions",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store QA Tool": {
      "ai_tool": [
        [
          {
            "node": "Answer Questions",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": " Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Ticket ID": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Issue Classifier": {
      "main": [
        [
          {
            "node": "Route Customer Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "eecaa6f7-e55d-44e2-b382-d72b9fe84d9a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7a1b32c35f0defff194ee8646aa1e3d832adaa28cf4232cf90a80eda79e1c5ef"
  },
  "nodeGroups": [],
  "id": "dBBuQ3tBqy4B5fpr",
  "tags": []
}