workflow/AI-Customer-Support-Automation-v1.0.json
{
  "name": "AI Customer Support Email Responder v1",
  "nodes": [
    {
      "parameters": {
        "content": "*Receive Customer Email* \n**Triggers whenever a new customer email arrives in the support inbox.**  ",
        "height": 80,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -256,
        480
      ],
      "typeVersion": 1,
      "id": "bef8dc9a-b6a5-46f2-a240-baecf1256097",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "*Generate AI Reply* \n**Generates a professional response using GPT based on NovaCart policies.** ",
        "height": 112,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        336
      ],
      "typeVersion": 1,
      "id": "6d0b9dd9-31b7-4db7-81ce-88062375bd8a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "*Format Email HTML*\n**Converts AI plain text into HTML with proper paragraph spacing.** ",
        "height": 96,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1088,
        320
      ],
      "typeVersion": 1,
      "id": "b99529a1-56d4-46ee-8322-61a862e1e67f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "*Send Reply*\n**Replies to the original customer using the generated HTML email.** ",
        "height": 112,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        688,
        368
      ],
      "typeVersion": 1,
      "id": "03be3ea6-7608-46ef-963d-162c3ecf0ba1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -656,
        -144
      ],
      "id": "c8525e69-e873-4f9b-a4e2-c841cd90c2af",
      "name": " Receive Customer Email",
      "credentials": {
        "gmailOAuth2": {
          "id": "u4EVD4lvtdZXrbdQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are an AI Issue Classification Engine for NovaCart.\n\nYour only task is to identify the PRIMARY customer support issue from the customer's email.\n\nDo NOT answer the customer.\n\nDo NOT explain your reasoning.\n\nDo NOT generate an email.\n\nReturn ONLY one of the following categories exactly as written:\n\nORDER_STATUS\nREFUND\nCANCELLATION\nDAMAGED_PRODUCT\nWRONG_ITEM\nGENERAL_INQUIRY\n\nClassification Rules\n\nORDER_STATUS\nCustomer is asking about:\n- Where is my order?\n- Package delayed\n- Shipment delayed\n- Delivery status\n- Tracking request\n- Late delivery\n- Missing package\n\nREFUND\nCustomer wants:\n- Refund\n- Return for money back\n- Money back\n- Cancel after delivery for refund\n\nCANCELLATION\nCustomer wants to:\n- Cancel an order\n- Stop shipment\n- Cancel before delivery\n\nDAMAGED_PRODUCT\nCustomer received:\n- Broken product\n- Defective product\n- Product not working\n- Damaged packaging\n- Missing parts\n\nWRONG_ITEM\nCustomer received:\n- Wrong product\n- Wrong size\n- Wrong color\n- Wrong quantity\n- Different item than ordered\n\nGENERAL_INQUIRY\nUse this if the email does not clearly belong to any category above.\n\nIf multiple issues are mentioned, classify based on the customer's MAIN request.\n\nOutput exactly one category."
            },
            {
              "content": "=Classify the customer's primary support issue.\n\nCustomer Email\n\nSubject:{{ $json.subject }}\n\nBody:{{ $json.text }}\n\n\nReturn only one category."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -448,
        -144
      ],
      "id": "ac755f10-6974-4380-b1b2-8e03f2481b89",
      "name": " AI Issue Classifier",
      "credentials": {
        "openAiApi": {
          "id": "M34L7rY8stavVdMS",
          "name": "OpenAI Portfolio"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c298d247-6c76-4ab3-a662-7811d17700b3",
              "name": "htmlEmail",
              "value": "={{ $json.output[0].content[0].text.replace(/\\n/g,\"<br>\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        -160
      ],
      "id": "cb658548-b3c9-4d6b-974c-2b44d227c7d0",
      "name": " Format Email HTML"
    },
    {
      "parameters": {
        "sendTo": "={{$node[\" Receive Customer Email\"].json[\"from\"].value[0].address}}",
        "subject": "=Re: {{$node[\" Receive Customer Email\"].json[\"subject\"]}}",
        "message": "={{$node[\" Format Email HTML\"].json.htmlEmail}}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1088,
        -160
      ],
      "id": "4375eac4-d219-4966-af7a-fffd607347a6",
      "name": " Send Reply",
      "webhookId": "12a8efe2-93b7-42a1-9205-89f187347e35",
      "credentials": {
        "gmailOAuth2": {
          "id": "u4EVD4lvtdZXrbdQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output[0].content[0].text }}",
                    "rightValue": "REFUND",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "aff64314-b1d5-4148-aa33-a1328b6373b8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Refund"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a83e1c88-a87d-4729-83e4-2757bb3bfb95",
                    "leftValue": "={{ $json.output[0].content[0].text }}",
                    "rightValue": "ORDER_STATUS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=Order Status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "422b0d89-e1f0-4e21-9163-9a9d2dc7e0a7",
                    "leftValue": "={{ $json.output[0].content[0].text }}",
                    "rightValue": "CANCELLATION",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancellation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f7fc5b4e-6086-4300-ab7c-476648eafeb5",
                    "leftValue": "={{ $json.output[0].content[0].text }}",
                    "rightValue": "DAMAGED_PRODUCT",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Damaged Output"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "464a674e-6315-497c-8285-eaf736defe38",
                    "leftValue": "={{ $json.output[0].content[0].text }}",
                    "rightValue": "WRONG_ITEM",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Wrong Item"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c096ebe2-0176-4ae3-aa53-7e4d85a46076",
                    "leftValue": "={{ $json.output[0].content[0].text }}",
                    "rightValue": "GENERAL_INQUIRY",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "General Inquiry"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -96,
        -192
      ],
      "id": "e2981e4e-fb3f-4d81-81de-1819835c355c",
      "name": "Route Customer Issue"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are NovaCart's Refund Support Specialist.\n\nYour task is to write a professional customer support email.\n\nRules:\n- Be polite and empathetic.\n- Never claim you checked an order.\n- Never invent refund eligibility.\n- Never promise a refund.\n- Ask only for the information needed.\n- Keep replies under 180 words.\n- Use short paragraphs.\n- End with:\n\nKind regards,\n\nNovaCart Customer Support"
            },
            {
              "content": "=Customer Email\n\nSubject:{{ $(' Receive Customer Email').item.json.subject }}\n\nBody:\n{{ $(' Receive Customer Email').item.json.text }}\n\nThe customer's issue has already been classified as REFUND.\n\nWrite an appropriate customer support reply following NovaCart policies."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        272,
        -560
      ],
      "id": "09af27e7-c222-4863-b844-3fec94b89f66",
      "name": "Generate Refund Reply",
      "credentials": {
        "openAiApi": {
          "id": "M34L7rY8stavVdMS",
          "name": "OpenAI Portfolio"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are NovaCart's Order Status Support Specialist.\n\nYour task is to write a professional customer support email.\n\nRules:\n- Be polite and empathetic.\n- Never claim you checked an order.\n- Never invent tracking information.\n- Never promise a delivery date.\n- Never say an order is shipped or delayed unless the customer provides official information.\n- Ask only for the information needed.\n- Keep replies under 180 words.\n- Use short paragraphs.\n- End with:\n\nKind regards,\n\nNovaCart Customer Support"
            },
            {
              "content": "=Customer Email\n\nSubject:{{ $(' Receive Customer Email').item.json.subject }}\n\n\nBody:{{ $(' Receive Customer Email').item.json.text }}\n\n\nThe customer's issue has already been classified as ORDER_STATUS.\n\nWrite an appropriate customer support reply following NovaCart policies."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        272,
        -384
      ],
      "id": "e67a8187-4473-4381-961e-a6f896537cd9",
      "name": "Generate Order Status Reply",
      "credentials": {
        "openAiApi": {
          "id": "M34L7rY8stavVdMS",
          "name": "OpenAI Portfolio"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are NovaCart's Order Cancellation Support Specialist.\n\nYour job is to write professional customer support emails.\n\nRules:\n\n- Be polite and empathetic.\n- Do not promise cancellation until it is verified.\n- Explain that cancellation depends on whether the order has already been shipped.\n- Ask for the order number if it is missing.\n- If needed, ask the customer to confirm they want to cancel the entire order.\n- Never invent order information.\n- Never mention AI.\n- Keep replies under 180 words.\n- End with:\n\nKind regards,\n\nNovaCart Customer Support"
            },
            {
              "content": "=Customer Email\n\nSubject:\n{{ $(' Receive Customer Email').item.json.subject }}\n\nBody:\n{{ $(' Receive Customer Email').item.json.text }}\n\n\nThe customer's issue has already been classified as CANCELLATION.\n\nWrite an appropriate customer support reply following NovaCart policies."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        272,
        -208
      ],
      "id": "3ff20790-ad4e-42a9-be74-8ab3ef138606",
      "name": "Generate Cancellation Reply",
      "credentials": {
        "openAiApi": {
          "id": "M34L7rY8stavVdMS",
          "name": "OpenAI Portfolio"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are NovaCart's Damaged Product Support Specialist.\n\nYour job is to write professional customer support emails.\n\nRules:\n\n- Be polite and empathetic.\n- Apologize that the customer received a damaged item.\n- Ask for the order number if missing.\n- Ask for clear photos of the damaged product.\n- Ask for photos of the packaging if available.\n- Do not promise a refund or replacement until the damage is verified.\n- Never invent order details.\n- Never mention AI.\n- Keep replies under 180 words.\n\nEnd with:\n\nKind regards,\n\nNovaCart Customer Support"
            },
            {
              "content": "=Customer Email\n\nSubject:{{ $(' Receive Customer Email').item.json.subject }}\n\nBody:{{ $(' Receive Customer Email').item.json.text }}\n\n\nThe customer's issue has already been classified as DAMAGED_PRODUCT.\n\nWrite an appropriate customer support reply following NovaCart policies."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        272,
        -32
      ],
      "id": "a96434f4-04d1-4086-b1db-a25d9bc1f135",
      "name": "Generate Damaged Product Reply",
      "credentials": {
        "openAiApi": {
          "id": "M34L7rY8stavVdMS",
          "name": "OpenAI Portfolio"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are NovaCart's Wrong Item Support Specialist.\n\nYour job is to write professional customer support emails.\n\nRules:\n\n- Be polite and empathetic.\n- Apologize that the customer received the wrong item.\n- Ask for the order number if missing.\n- Ask for a clear photo of the item received.\n- Ask for a photo of the shipping label or packaging if available.\n- Explain that the order will be reviewed before arranging a replacement or return.\n- Never promise a replacement before verification.\n- Never invent order information.\n- Never mention AI.\n- Keep replies under 180 words.\n\nEnd with:\n\nKind regards,\n\nNovaCart Customer Support"
            },
            {
              "content": "=Customer Email\n\nSubject:\n{{ $(' Receive Customer Email').item.json.subject }}\n\nBody:\n{{ $(' Receive Customer Email').item.json.text }}\n\nThe customer's issue has already been classified as WRONG_ITEM.\n\nWrite an appropriate customer support reply following NovaCart policies."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        272,
        144
      ],
      "id": "7aa35bd8-c52a-48d7-8397-b8a303eb09f5",
      "name": "Generate Wrong Item Reply",
      "credentials": {
        "openAiApi": {
          "id": "M34L7rY8stavVdMS",
          "name": "OpenAI Portfolio"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are NovaCart's General Customer Support Specialist.\n\nYour job is to write professional customer support emails for general questions that do not belong to refunds, order status, cancellations, or damaged products.\n\nRules:\n\n- Be friendly, professional, and empathetic.\n- Answer only what the customer asked.\n- If additional information is needed, politely ask for it.\n- Never invent company policies, order information, pricing, delivery dates, or account details.\n- Never claim you have checked an order or account.\n- Never mention AI or automated systems.\n- If you cannot determine the answer from the customer's email, explain what information is needed to assist further.\n- Keep replies under 180 words.\n- Use short paragraphs.\n\nEnd every email with:\n\nKind regards,\n\nNovaCart Customer Support"
            },
            {
              "content": "=Customer Email\n\nSubject:\n{{ $(' Receive Customer Email').item.json.subject }}\n\nBody:\n{{ $(' Receive Customer Email').item.json.text }}\n\nThe customer's issue has already been classified as GENERAL_INQUIRY.\n\nWrite an appropriate customer support reply following NovaCart policies."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        272,
        320
      ],
      "id": "93dd1f25-d9d3-4acb-9392-ad6aa8f7185d",
      "name": "Generate Genral Inquiry Reply",
      "credentials": {
        "openAiApi": {
          "id": "M34L7rY8stavVdMS",
          "name": "OpenAI Portfolio"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    " Receive Customer Email": {
      "main": [
        [
          {
            "node": " AI Issue Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " AI Issue Classifier": {
      "main": [
        [
          {
            "node": "Route Customer Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Format Email HTML": {
      "main": [
        [
          {
            "node": " Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Customer Issue": {
      "main": [
        [
          {
            "node": "Generate Refund Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Order Status Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Cancellation Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Damaged Product Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Wrong Item Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Genral Inquiry Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Refund Reply": {
      "main": [
        [
          {
            "node": " Format Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Order Status Reply": {
      "main": [
        [
          {
            "node": " Format Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Cancellation Reply": {
      "main": [
        [
          {
            "node": " Format Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Damaged Product Reply": {
      "main": [
        [
          {
            "node": " Format Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Wrong Item Reply": {
      "main": [
        [
          {
            "node": " Format Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Genral Inquiry Reply": {
      "main": [
        [
          {
            "node": " Format Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "74c44d21-b31d-4a04-b9e4-508d87d12a3e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7a1b32c35f0defff194ee8646aa1e3d832adaa28cf4232cf90a80eda79e1c5ef"
  },
  "nodeGroups": [],
  "id": "dBBuQ3tBqy4B5fpr",
  "tags": []
}